nextflow.enable.dsl=2

// create parameters (can be altered via command line)
params {
    bam_dir = null
    output_dir = null
    ref_dir = null
    pooled_normal = null
    batch_name = null
    cpus = 1

    // CREATE_NORM specific parameters
    capture_kit = null
    seq_platform = null
    ref_genome = "Homo_sapiens_assembly38.fasta"
    annotation = null
    targets = null
    access = "hg38_access.bed"

    // optional parameters
    help = false
    legacy = false
}

manifest {
    name = 'WESley-cnvkit'
    description = 'Copy number calling using the CNVkit Python package'
    nextflowVersion = '>=25.04.6'
    author = 'Dien Ethan Mach'
    mainScript = 'cnvkit.nf'
    homePage = 'https://github.com/e10m/WESley'
}

// Profile definitions
profiles {
    local {
        process.executor = 'local'
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
    aws {
        process.executor = 'awsbatch'
        process.queue = 'nextflow-queue'
        aws.region = 'us-west-2'
        // TODO: add fusion

    }
}

process {
    errorStrategy = { task.exitStatus in ((130..145) + 104 + 175) ? 'retry' : (task.attempt <= 2 ? 'retry' : 'ignore') }
    maxRetries    = 5
    maxErrors     = -1
    containerOptions = "-v ${params.ref_dir}:/references"
    container = 'quay.io/biocontainers/cnvkit:0.9.10--pyhdfd78af_0'

    // CPU labels
    withLabel: 'highCpu' { cpus = params.cpus }
    withLabel: 'lowCpu' { cpus = 1 }

    // Memory labels (dynamic - linear per retry)
    withLabel: 'highMem' { memory = { 32.GB * task.attempt } }
    withLabel: 'medMem'  { memory = { 10.GB * task.attempt } }
    withLabel: 'lowMem'  { memory = { 1.GB  * task.attempt } }

    // Time labels (dynamic - linear per retry)
    withLabel: 'longTime'  { time = { 6.h  * task.attempt } }
    withLabel: 'medTime'   { time = { 30.m * task.attempt } }
    withLabel: 'shortTime' { time = { 1.m  * task.attempt } }
}

docker {
    enabled = true
}