/*
========================================================================================
    Shared Nextflow config file for running tests across all workflows
========================================================================================
*/

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

process {
    executor = 'local'
    containerOptions = "-v ${params.ref_dir}:/references"
    errorStrategy = { task.attempt <= task.maxRetries ? 'retry' : 'ignore' }
    maxRetries = 3
    
    withLabel: 'highCpu' { cpus = 2 }
    withLabel: 'medCpu' { cpus = 1 }
    withLabel: 'lowCpu' { cpus = 1 }

    withLabel: 'extraHighMem' { memory = '4.GB' }
    withLabel: 'highMem' { memory = '2.GB' }
    withLabel: 'medMem' { memory = '1.GB' }
    withLabel: 'lowMem' { memory = '512.MB' }

    withLabel: 'extraLongTime' { time = '10m' }
    withLabel: 'longTime' { time = '5m' }
    withLabel: 'medTime' { time = '3m' }
    withLabel: 'shortTime' { time = '1m' }

    withName: BWA_ALIGN {
        container = 'e10m/bwa-and-samtools:latest'
    }
    withName: TRIM {
        container = 'quay.io/biocontainers/trim-galore:0.6.6--0'
    }
    withName: SPLIT {
        container = 'quay.io/biocontainers/bbmap:38.06--0'
    }
    withName: 'MARK_DUPES|SET_TAGS|RECAL_BASES|APPLY_BQSR' {
        container = 'broadinstitute/gatk:4.2.0.0'
        containerOptions = "-v ${params.ref_dir}:/references -u root"
    }
    withName: FASTQC {
        container = 'biocontainers/fastqc:v0.11.9_cv8'
    }
    withName: MULTIQC {
        container = 'multiqc/multiqc:v1.30'
    }
    withName: 'CALC_COVERAGE|MUTECT2_CALL|GET_PILEUP_SUMMARIES|CALCULATE_CONTAMINATION|LEARN_READ_ORIENTATION|FILTER_MUTECT_CALLS' {
        container = 'broadinstitute/gatk:4.2.0.0'
    }
}